html {
	scroll-behavior: smooth;
}

body {
	position: relative;
	font-size: 16px;
	line-height: 1.4;
	color: #000;
	min-width: 320px;
	overflow-x: hidden;
	height: auto;
	margin: 0px;
	padding: 0px;
	background-color: #4d58f7;
}

.total_image {
	text-align: center;
	margin: 10px 0px 0px 0px;
}

.total_image img {
	width: 75%;
	border-radius: 7px;
}

.give_money li {
	list-style-type: none;
	margin-bottom: 0;
	display: inline-block;
	background-color: #fafa14;
	border-radius: 5px;
	transition: all .2s ease-in-out;
	font-family: cursive;
}

.give_money li:hover {
	background-color: #c4b702;
}

.pay {
	padding: 150px 40px;
	margin: 10px 0px 10px 0px;
}

.look {
	padding: 150px 15px;
	margin: 10px 0px 10px 0px;
}

.give_money ul {
	padding: 0px;
	text-align: center;
}

.what_we_doing {
	text-align: center;
	font-family: cursive;
}

.description {
	text-align: center;
	font-family: cursive;
}

.how_you_can_donate {
	margin: 10px 0px 50px 0px;
	text-align: center;
	font-family: cursive
}
